<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  {{>bootstrap }}
  <title>Login</title>
</head>
<body style="display: grid; height: 100vh" class="flex-column align-items-center justify-content-center">
<div>
  {{message}}
  <h1 class="text-center mb-4">LOGIN</h1>
  <form action="/login" method="post">

    <div class="mb-2">
      <label class="form-label">
        Nome de usuário:
        <input class="form-control" type="text" name="username" />
      </label>
    </div>

    <div class="mb-2">
      <label class="form-label">
        Senha:
        <input class="form-control" type="password" name="password" />
      </label>
    </div>
    
    <div class="d-grid">
      <input class="btn btn-primary" value="Login" type="submit" />
    </div>
  </form>
</div>
</body>
</html>
