<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  {{>bootstrap }}
  <title>Remover Paciente</title>
</head>
<body>
{{>navbar}}
{{message}}
<div style="max-width: 576px" class="container">

  <form action="/patients/{{patient.id}}/delete" method="post">
    <p class="h5 text-center">Deseja remover o pacience "{{patient.name}}"?</p>
    <div class="text-center mt-4">
      <a class="btn btn-secondary" href="javascript:history.back()">Cancelar</a>
      <input class="btn btn-danger" value="Remover" type="submit" />
    </div>
  </form>
</div>
</body>
</html>