<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  {{>bootstrap }}
  <title>Registrar Paciente</title>
</head>
<body>
{{>navbar}}
{{message}}
<div style="max-width: 576px" class="container">
  <h3 class="text-center mb-4">Criar paciente</h3>

  <form class="row" action="/patients/register" method="post">
    <label class="form-label col-12 mb-2">
      Nome do paciente:
      <input class="form-control" type="text" required minlength="4" maxlength="255" name="name" />
    </label>

    <label class="form-label col-12 mb-2">
      Data de Nascimento:
      <input class="form-control" type="date" required name="birthDate" />
    </label>

    <label for="weight-input" class="form-label col-12">
      Peso:
    </label>
    <div class="input-group mb-2">
      <input id="weight-input" class="form-control" type="number" required min="0" step=".01" name="weightInKg" />
      <span class="input-group-text">kg</span>
    </div>

    <label for="height-input">
      Altura:
    </label>
    <div class="input-group mb-2">
      <input id="height-input" class="form-control" type="number" required min="0" max="300" step="1"
             name="heightInCm" />
      <span class="input-group-text">cm</span>
    </div>

    <div class="text-end mt-4">
      <a class="btn btn-secondary" href="javascript:history.back()">Cancelar</a>
      <input class="btn btn-primary" value="Registrar" type="submit" />
    </div>
  </form>
</div>
</body>
</html>