<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  {{>bootstrap }}
  <title>Registrar Paciente</title>
</head>
<body>

{{message}}

<form action="/patients/register" method="post">
  <label>
    Nome do paciente:
    <input type="text" required minlength="4" maxlength="255" name="name" />
  </label>
  <br />
  <label>
    Data de Nascimento:
    <input type="date" required name="birthDate" />
  </label>
  <br />
  <label>
    Peso (kg):
    <input type="number" required min="0" step=".01" name="weightInKg" />
  </label>
  <br />
  <label>
    Altura (cm):
    <input type="number" required min="0" max="300" step="1" name="heightInCm" />
  </label>
  <br />
  <input value="Registrar" type="submit" />
</form>
</body>
</html>